.footer {
    width: 100%;
    padding-top: 150px;
}

h2 {
    color: var(--color-white);
    text-transform: uppercase;
    padding: 50px 0;

}

.footer .top {
    width: 100%;
    padding: 130px 0;
    background-color: #202331;
}

.footer .top i {
    margin-right: 10px;
}

.top .contact p {
    padding-bottom: 20px;
}

.top .contact ul {
    border-top: 1px dotted #99a9b5;
    padding-top: 20px;
}

.top .contact ul li {
    padding-bottom: 15px;
}

.post .box-content {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px dotted #99a9b5;

}

.post .box-content .box {
    width: 40%;
    max-width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #99a9b5;
}

.box-content .time {
    color: var(--color-price);
    padding-top: 10px;
}

.link .text p {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #99a9b5;
    padding: 15px 0;
}

.link .text p:last-child {
    border: none;
}

.link .text i {
    font-size: 5px;
    color: var(--color-price);
}

.link .official i {
    color: var(--color-white);
}

/* item 3 */
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.email .user,
.email .mail {
    position: relative;
}

.email .user i,
.email .mail i {
    position: absolute;
    right: 0;
}

.email .form input,
.email .form textarea {
    background-color: #181828;
    padding: 15px;
    width: 100%;
    outline: none;
    border: 1px solid #99a9b5;
    max-width: 100%;
}

.email .form .mail input {
    border: 1px solid var(--color-price);
}

.email .form button {
    padding: 15px;
    background-color: #393f4f;
    text-transform: uppercase;
    font-weight: bold;
    color: #99a9b5;

}

.project .box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.project .box div {
    background-color: #393f4f;
    width: 30%;
    min-height: 80px;
}

/* item 4 */
.send-email {
    background-color: #394050;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 20px 0;

}

.new-letter input {
    background-color: #181828;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #394050;
    outline: none;

}

.new-letter button {
    background: transparent;
    padding: 15px;
    color: var(--color-white);
}

.new-letter button i {
    text-align: center;
}

.footer .top-wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.footer .contact a,
.footer .link .official {
    color: var(--color-price)
}

.footer .top-wrapper .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    color: #99a9b5;
    height: 790px;
}

.footer .bottom {
    width: 100%;
    margin: auto;
    background-color: #171728;
    padding: 45px 0;
    color: #99a9b5;

}

.footer .bottom-wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .bottom-wrapper a {
    color: var(--color-price);
}

.bottom-wrapper .menu .flex-center {
    gap: 35px;
    white-space: nowrap;
}

.bottom-wrapper .icon .flex-center {
    gap: 20px;
}

.bottom-wrapper .fa-twitter {
    color: #16a7b9;
}

.bottom-wrapper .icon .fa-facebook {
    color: #315bd6;

}

.bottom-wrapper .fa-linkedin-in {
    color: #0288d1
}

.bottom-wrapper .icon .fa-google-plus-g {
    color: #7f2c2f;

}

.bottom-wrapper .icon .fa-instagram {
    color: #786f4c;

}

.bottom-wrapper .icon .fa-youtube {
    color: var(--color-youtube);

}

.bottom-wrapper .icon .fa-pinterest {
    color: #ff5757;
}

@media only screen and (max-width: 652px) {
    .footer {
        padding-top: 80px;
    }

    .footer .top {
        display: none;
    }

    .footer .bottom-wrapper {
        justify-content: center;
    }

    .footer .bottom {
        padding: 20px 0;
    }

    .footer .menu,
    .footer .icon {
        display: none;
    }
}

@media only screen and (min-width: 653px) and (max-width: 1400px) {
    .footer .top-wrapper {
        display: block;
    }

    .footer .top-wrapper .items .item {
        width: 50%;
    }

    .footer .top-wrapper .items {
        flex-direction: row;
        height: auto;
        width: 100%;
        gap: 40px;
    }

    .footer .top {
        padding: 50px 0;
    }

    .footer .bottom .menu {
        display: none;
    }
}