.header {
    width: 100%;
    margin: auto;
}

.header-top {
    background-color: #e9f0ef;
    width: 100%;
    padding: 20px 0;
    gap: 20px;
}

.top-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header-top {
    color: #5f727f;
}

.header-top .phone i {
    padding-right: 10px;
}

.header-top .info i {
    padding-right: 15px;
    cursor: pointer;
}

.header-top .info .fa-youtube {
    color: var(--color-youtube);
}

.header-top .menu ul {
    display: flex;
    gap: 20px;
    white-space: nowrap;

}

.header-top .menu i {
    padding-right: 5px;
    font-size: 10px;
}

.header-top button {
    padding: 10px 15px;
    background-color: #494c64;
    border-radius: 5px;
    color: var(--color-white);
    white-space: nowrap;
}

.header-center {
    width: 100%;
    padding: 35px 0;
    gap: 20px;
}

.center-wrapper {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-center .logo {
    font-size: 30px;
    margin-right: 40px;
}

.header-center .menu ul {
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: bold;

}

.header-center .menu li {
    cursor: pointer;
    font-size: 14px;
}

.header-center .menu .shop {
    padding: 5px 20px;
    border: 2px solid #494c64;
}

.header-center .menu .features {
    color: var(--color-price);
}

.center-wrapper .mobile {
    display: none;
}

.header-center .icon i {
    padding: 0 10px;
    padding-right: 20px;
    cursor: pointer;
}

.header-bottom {
    background-color: #e9f0ef;
    padding: 40px 0 20px 0;
}

.bottom-wrapper {
    width: 70%;
    margin: auto;
}

.header-bottom .top {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.header-bottom .top .name {
    font-size: 50px;

}

.header-bottom .top i {
    font-size: 144px;
}

.header-bottom .bottom ul {
    display: flex;
    align-items: center;
}

.header-bottom .bottom li {
    color: #00bcd4;

}

.header-bottom .bottom li:last-child {
    color: #99a9b5;
    position: relative;
}

.header-bottom .bottom li:last-child::after {
    position: absolute;
    content: "";
    background-color: var(--color-youtube);
    height: 5px;
    width: 60%;
    bottom: -20px;
    right: -10px;
}

.header-bottom .bottom i {
    color: var(--color-black);
    padding: 0 15px;
}

/* mobile */
@media only screen and (max-width: 652px) {

    .top-wrapper,
    .center-wrapper,
    .bottom-wrapper {
        width: 90%;
    }

    .header-top .info {
        display: none;
    }

    .header-top .menu {
        display: none;
    }

    .header-bottom .top i {
        font-size: 30px;
    }

    .center-wrapper .mobile {
        display: block;
    }

    .header-center .menu ul {
        display: none;
    }

    .header-bottom .bottom {
        display: none;
    }

}

/*tablet */
@media only screen and (min-width: 653px) and (max-width: 1400px) {
    .header-top .menu {
        display: none;
    }

    .center-wrapper .mobile {
        display: block;
    }

    .header-center .menu ul {
        display: none;
    }

    .header-bottom .top i {
        font-size: 50px;
    }

}